.classic {
  background-image: linear-gradient(#000, #000);
  background-repeat: no-repeat;
  transition: background-size 1.5s, color 1.5s;
}

.creative {
  background-image: linear-gradient(to left, #e71606, #fbbf24);
  background-repeat: no-repeat;
  transition: background-size 1.5s, color 1.5s;
}

.to-left {
  background-position: 100% 50%;
}
.to-right {
  background-position: 0% 50%;
}

.to-left,
.to-right {
  background-size: 0% 100%;
}

.classic:hover {
  background-size: 100% 100%;
  color: #fff;
}

.creative:hover {
  background-size: 100% 100%;
  color: #fff;
}
